@import url('http://cdn.webfont.youziku.com/webfonts/nomal/125696/47031/5c00f27df629d90cec2fec01.css');
body {
  font-family: 'COCOGOOSE';
  line-height: 1.3;
  margin: 0;
}

.main {
  width: 100%;
  margin: 0;
}

.mainGroup {
  margin: 0 auto;
  position: relative;
  padding: 150px 50px;
  text-align: left;
}

.mainGroup svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.grids {
  margin: 180px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  max-width: 640px;
}

.mainGroup h1 {
  font-size: 50px;
  width: 500px;
  margin: 50px auto;
  text-transform: uppercase;
}

.mainGroup p {
  margin: 0 auto 200px auto;
  font-size: 26px;
  width: 500px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
